<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lecturas IoT</title>
    <style>
        body { font-family: Arial; background: #f5f5f5; padding: 20px; }
        table { border-collapse: collapse; width: 100%; background: white; overflow: scroll; font-size: 20px; }
        th, td { padding: 10px; border: 1px solid #ddd; text-align: center; }
        th { background: #007bff; color: white; }
				td:last-child, td:first-child { display: none; }
				tr:hover { background: #D9D9D9; }
    </style>
</head>
<body>
	<h1>📡 Lecturas capturadas en la nube</h1>
	<div id="table-container">
		{% if page_obj %}
			<table>
				<tr>
					{% for key in page_obj.object_list.0.keys %}
						{% if key != 'device_id' and key != 'id' and key != 'tds_ppm' and key != 'pump' and key != 'valve' and key != 'alerts' %}
							<th>{{ key }}</th>
						{% endif %}
					{% endfor %}
				</tr>
				{% for reading in page_obj %}
					<tr>
						{% for value in reading.values %}
							{% if value != 'TNR-01' and value != 'OFF' and value != 'OPEN' and value is not empty %}
								<td>{{ value }}</td>
							{% endif %}
						{% endfor %}
					</tr>
				{% endfor %}
			</table>
			<div style="margin-top:10px;">
					{% if page_obj.has_previous %}
							<a href="?page={{ page_obj.previous_page_number }}">⬅️ Anterior</a>
					{% endif %}
					<span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
					{% if page_obj.has_next %}
							<a href="?page={{ page_obj.next_page_number }}">Siguiente ➡️</a>
					{% endif %}
			</div>
		{% else %}
			<p>No se encontraron lecturas disponibles.</p>
		{% endif %}
	</div>
	<p><a href="/readings/">📈 Ver gráfica de lecturas</a></p>


	<script>
    // Recarga automática cada 5 segundos (AJAX)
    setInterval(() => {
        fetch(window.location.href)
            .then(response => response.text())
            .then(html => {
                const parser = new DOMParser();
                const newDoc = parser.parseFromString(html, 'text/html');
                const newTable = newDoc.querySelector('#table-container').innerHTML;
                document.querySelector('#table-container').innerHTML = newTable;
            });
    }, 5000);
	</script>
</body>
</html>
